<div id="footer">
    #if (!$attribution.isEmpty())
        #foreach ($attributionLine in $attribution)
            $attributionLine
        #end
    #end
    #if ($rdf_link)
        <a href="$rdf_link?output=ttl">As Turtle</a> |
        <a href="$rdf_link?output=xml">As RDF/XML</a>
    #end
</div>
</body>
</html>