<table class="description">
    <colgroup>
        <col class="property-column" span="1">
        <col class="value-column" span="1">
    </colgroup>
    #foreach ($property in $properties)
        #if ($foreach.count % 2 == 0)
            #set ($class = "even")
        #else
            #set ($class = "odd")
        #end
        <tr class="$class">
            <td class="property">
                #parse("property-name.vm")
            </td>
            <td>
                #parse("values.vm")
            </td>
        </tr>
    #end
</table>
