<table class="description">
    <tr><th class="property-column">Property</th><th class="value-column">Value</th></tr>
    #foreach ($property in $properties)
        #if ($foreach.count % 2 == 0)
            #set ($class = "even")
        #else
            #set ($class = "odd")
        #end
        <tr class="$class">
            <td class="property">
                #parse("property-name.vm")
            </td>
            <td>
                #parse("values.vm")
            </td>
        </tr>
    #end
</table>
