## Renders the values of a single ResourceProperties, given in $property, as an unordered list
<ul class="property-values">
    #foreach ($value in $property.values)
        <li>
            #if ($value.literal)
                <span class="literal">$value.lexicalForm
                    #if ($value.datatypeLabel)
                        <small>
                            #if ($value.hasPrefix)
                                ($value.prefix:$value.datatypeLabel)
                            #else
                                ($value.datatypeLabel)
                            #end
                        </small>
                    #end
                    #if ($value.language != "")
                        <small>
                            ($value.language)
                        </small>
                    #end
                </span>
            #else
                #if ($showLabels && $value.label)
                    <a class="uri" href="$value.uri" title="$value.uri">$value.label</a>
                #elseif ($value.hasPrefix)
                    <a class="uri" href="$value.uri" title="$value.uri">
                        <small>$value.prefix:</small>$value.localName
                    </a>
                #else
                    <small>&lt;</small>
                    <a class="uri" href="$value.uri">$value.uri</a>
                    <small>&gt;</small>
                #end
            #end
        </li>
    #end
</ul>
